@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: hsl(235, 18%, 26%);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#form {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 30px;
  background-color: white;
  padding: 24px;
  margin: auto;
  color: hsl(234, 29%, 20%);
  position: relative;
}

.image_mobile {
  display: none;
}

.container {
  width: 376px;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 65px;
}

.title h1 {
  font-size: 56px;
  margin-bottom: 0.33em;
}

.info {
  line-height: 1.6;
  margin-bottom: 23px;
}

.container_list {
  display: flex;
  list-style: none;
}

.icon object {
  display: flex;
  padding-bottom: 13.5px;
}

.list li {
  padding-bottom: 15px;
  padding-left: 15px;
}

.grid {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 10px);
  justify-items: stretch;
}

.email label,
#invalid_email {
  font-weight: bold;
  font-size: 11px;
  grid-row: span 2;
}

#invalid_email {
  color: hsl(4, 100%, 67%);
  text-align: right;
}

.email input {
  border-radius: 6px;
  grid-column: span 2;
  width: 100;
  border: 0.1px solid rgb(167, 165, 165);
  padding: 18px;
  font-size: medium;
}

.email input:focus {
  outline: 0.1px solid black;
}

#button {
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 19px;
  background: hsl(234, 29%, 20%);
  font-weight: 500;
  font-size: 15px;
  color: aliceblue;
}

#button:hover {
  background: linear-gradient(90deg, #ef4d73, hsl(4, 100%, 67%));
}


.attribution {
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
  color: rgb(202, 202, 202);
}

.attribution a {
  color: hsl(228, 17%, 55%);
}

@media only screen and (min-width:768px) and (max-width: 928px) {
  .container {
    padding: 20px;
    width: 300px;
    margin: 0;
  }

  .title h1 {
    font-size: 45px;
    margin-bottom: 0.33em;
    align-items: center;
  }
}

@media only screen and (min-width:376px) and (max-width: 767px) {
  #form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    margin-top: 2%;
  }

  .image_mobile {
    display: block;
    border-radius: 20px;
  }

  .image_desktop {
    display: none;
  }

  .container {
    padding: 0;
    width: 340px;
    margin: 0;
  }

  .title h1 {
    font-size: 40px;
    margin-bottom: 0.33em;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-color: white;
  }

  #form {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .image_mobile {
    display: block;
  }

  .image_desktop {
    display: none;
  }

  .container {
    padding: 0;
    width: 340px;
    margin: 0;
  }

  .title h1 {
    font-size: 40px;
    margin-bottom: 0.33em;
    align-items: center;
  }

  #button {
    margin-bottom: 10px;
  }

  .attribution {
    color: hsl(235, 18%, 26%);
  }
}
